<!DOCTYPE html>
<html>
	<head>
		<title>Team Logistics</title>
		<script
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
    <script type="text/javascript" src="javascripts/application.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/application.css">
	</head>
	<body>
		<% include navigation.ejs %>
		<h1>Welcome to Team Logistics!</h1>
		<ul>
			<li>link to teams</li>
		</ul>
	</body>
</html>