<!DOCTYPE html>
<html>
	<head>
		<title>Team Logistics</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
    <script type="text/javascript" src="javascripts/application.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/application.css">
	</head>
	<body>
		<% if(current_user) { %>
		<% include loggedInNavigation.ejs %>
		<% } else { %>
		<% include navigation.ejs %>
		<% } %>
		<div id="mainContent">
			<% if(warning) { %>
			<div class="warning">
		      <p><%= warning %></p>
		  </div>
		 <% } %>
		 <% if(success) { %>
		  <div class="success">
		      <p><%= success %></p>
		  </div>
		  <% } %>
			<h1>Welcome to Team Logistics!</h1>
			<ul>
				<li>link to teams</li>
				<% if(current_user) { %>
				<% } else { %>
				<p>Not logged in</p>
				<% } %>
			</ul>
		</div>
	</body>
</html>