<!DOCTYPE html>
<html>
	<head>
		<title>Team Logistics</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
    <script type="text/javascript" src="javascripts/application.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/application.css">
	</head>
	<body>
		<% if(current_user) { %>
		<% include loggedInNavigation.ejs %>
		<% } else { %>
		<% include navigation.ejs %>
		<% } %>
		<div id="mainContent">
			<% if(warning) { %>
			<div class="warning">
		      <p><%= warning %></p>
		  </div>
		 <% } %>
		 <% if(success) { %>
		  <div class="success">
		      <p><%= success %></p>
		  </div>
		  <% } %>
			<h1>Welcome to Team Logistics!</h1>
				<% if(current_user) { %>
				<p>Welcome back, <%= current_user.username %></p>
				<p>View your profile <a href=<%='/users/'+current_user.username%>>here</a></p>
				<p>There you can see the teams you are on and look at ride updates.</p>
				<% } else { %>
				<p>Welcome. If you would like to log in, <a href="/login">Click Here</a></p>
				<p>If you are visiting our site for the first time, you may browse teams <a href="/teams">here</a></p>
				<p>And if you woult like to start coordinating rides for your own team <a href="/signup">sign up!</a></p>
				<% } %>
		</div>
	</body>
</html>