<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
		<script
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
    <script type="text/javascript" src="javascripts/application.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/application.css">
	</head>
	<body>
		<% include navigation.ejs %>
		<div id="mainContent">
			<% if(warning) { %>
			<div class="warning">
		      <p><%= warning %></p>
		  </div>
		  <% } %>
			<h1>Log In</h1>
			<form action="/login" method="post">
				Username <input type="text" name="username"><br />
				Password <input type="password" name="password"><br />
				<input type="submit" value="Log In">
			</form>
		</div>
	</body>
</html>