<!DOCTYPE html>
<html>
	<head>
		<script
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
    <script type="text/javascript" src="../javascripts/application.js"></script>
    <link rel="stylesheet" type="text/css" href="../stylesheets/application.css">
	</head>
	<body>
		<% include navigation.ejs %>
		<div id="mainContent">
			<form id="newTeamMember" action="/addnewmember" method="post">
				TeamID<input name="teamID" type="text">
				UserID<input name="userID" type="text">
				<input type="submit" value="submit">
			</form>
		</div>
	</body>
</html>