<!DOCTYPE html>
<html>
	<head>
		<title>Teams: New</title>
		<script
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
    <script type="text/javascript" src="../javascripts/application.js"></script>
    <link rel="stylesheet" type="text/css" href="../stylesheets/application.css">
	</head>
	<body>
		<% if(current_user) { %>
		<% include loggedInNavigation.ejs %>
		<% } else { %>
		<% include navigation.ejs %>
		<% } %>
			<div id="mainContent">
				<% if(warning) { %>
				<div class="warning">
		      <p><%= warning %></p>
		  	</div>
		  	<% } %>
				<h2>Create a new Team</h2>
				<form id="newTeamForm" action="/teams/insert" method="post">
					Name <input type="text" id="name" name="name" placeholder="name"><br>
					Sport <input type="text" id="sport" name="sport"><br>
					Coach Name <input type="text" name="coach" id="coach"><br>
					<% if(current_user.role == 'admin') { %>
						Active? <input type="checkbox" name="active" id="active"><br>
					<% } %>
					<input type="submit" value="Create">
				</form>
			</div>
		</body>
</html>