<!DOCTYPE html>
<html>
	<head>
		<title>Teams: New</title>
		<script
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
    <script type="text/javascript" src="../javascripts/application.js"></script>
    <link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/application.css">
	</head>
	<body>
		<% if(current_user) { %>
		<% include loggedInNavigation.ejs %>
		<% } else { %>
		<% include navigation.ejs %>
		<% } %>
			<div id="mainContent">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<% if(warning) { %>
								<div class="warning">
						      <p><%= warning %></p>
						  	</div>
					  	<% } %>
				  	</div>
			  	</div>
			  	<div class="row">
			  		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<h2>Create a new Team</h2>
							<form class="form" id="newTeamForm" action="/teams/insert" method="post">
								<div class="form-group">
									<label for="name">Name</label><br />
									<input type="text" id="name" name="name">
								</div>
								<div class="form-group">
									<label for="sport">Sport</label><br />
									<input type="text" id="sport" name="sport">
								</div>
								<div class="form-group">
									<label for="coach">Coach Name</label><br />
									<input type="text" name="coach" id="coach">
								</div>
								<% if(current_user.role == 'admin') { %>
									<div class="form-group">
										<label for="active">Active?</label><br />
										<input type="checkbox" name="active" id="active">
									</div>
								<% } %>
								<input type="submit" value="Create" class="btn btn-default">
							</form>
						</div>
					</div>
				</div>
			</div>
		</body>
</html>