<!DOCTYPE html>
<html>
	<head>
		<title>Rides</title>
		<script
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
    <script type="text/javascript" src="../../../javascripts/application.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../stylesheets/application.css">
	</head>
	<body>
		<% if(current_user) { %>
		<% include loggedInNavigation.ejs %>
		<% } else { %>
		<% include navigation.ejs %>
		<% } %>
		<div id="mainContent">
		  <div class="success">
		      <p>Success</p>
		  </div>
			<h1><%= "Rides for " + team.name + " " + team.sport + " " + eventName %></h1>
			<% if(rides.length === 0) { %>
			<b>There are no rides available</b>
			<% } else { %>
			<table class="stripedHoveredTable">
				<thead>
					<th>Driver</th>
					<th>Departure Time</th>
					<th>Spots Available</th>
				</thead>
				<tbody>
					<% for(var i = 0; i < rides.length; i++) { %>
					<tr>
						<td><%= usernames[i]%></td>
						<td><%= rides[i].departureTime%></td>
						<td><%= rides[i].spots - rides[i].riders.length %></td>
					</tr>
					<% } %>
				</tbody>
			</table>
			<% } %>
		</div>
	</body>
</html>