html {
	height: 100%;
}

body {
	width: 100%;
	color: #121212;
	background-color: #FFFFFF;
	margin: 0px 0px 0px 0px;
	font-size: 110%;
	height: 100%;
	margin: 0; padding: 0
}

#custNav > ul {
	margin-top: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #1B6617;
	content: " ";
}

#custNav > ul > li {
	color: #FFFFFF;
	display: inline;
	font-size: x-large;
	margin-right: 12px;
}

#custNav > ul > li > a {
	font-size: large;
	text-decoration: none;
	color: #EEEEEE;
}

#custNav > ul > li > a:hover {
	color: #FFFFFF;
}

#mainContent {
	margin-right: 6%;
	margin-left: 6%;
}

#gmapsBlackMagic {
	height: 100%;
	margin: 0; 
	padding: 0;
}
#map-canvas { height: 100% }

a.newObjButton {
	background-image: linear-gradient(#8add6d, #60b044);
	border-color: #5ca941;
	color: white;
	text-decoration: none;
	font-weight: bold;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: .5%;
	padding-bottom: .5%;
	border-radius: 2%;
}